<h3>商品一覧画面</h3>
<%= link_to "新規登録", 'items/new' %>
<% @items.each do |item| %>

  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th>商品名</th>
        <th>商品説明文</th>
        <th>税抜価格</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <% if item.image.attached? %>
           <%= image_tag item.image,size: "200x200" %>
          <% else %>
           <%= image_tag 'no_image', size: "200x200" %>
          <% end %>
          <%= link_to item.name, admin_item_path(item.id) %>
        </td>
        <td><%= item.introduction %></td>
        <td><%= item.price %>円</td>
      </tr>
    </tbody>
  </table>

<% end %>