<h3>ジャンル管理画面</h3>
<% @genres.each do |genre| %>

  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th>ジャンル一覧</th>
        <th></th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to genre.name, edit_admin_genre_path(genre.id) %></td>
        <td><%= link_to "削除", admin_genre_path(genre.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
      </tr>
    </tbody>
  </table>

<% end %>

<h4>商品ジャンル登録</h4>
<%= form_with model: @genre, url: '/admin/genres' do |f| %>
　<h5>ジャンル名</h5>
　<%= f.text_field :name %>
 <%= f.submit 'ジャンル名登録' %>
<% end %>