<p id="notice"></p>
<h3>ショッピングカート</h3>

  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th><%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete, "data-confirm" => "カートを空にしますか？", class: "btn btn-danger" %></th>
        <th colspan="5"></th>
      </tr>
    </thead>
    <tbody>
    <% @sum = 0 %>
    <% @cart_items.each do |cart_item| %>
      <tr>
        <td>
          <% if cart_item.item.image.attached? %>
           <%= image_tag cart_item.item.image,size: "100x100" %>
          <% else %>
           <%= image_tag 'no_image', size: "100x100" %>
          <% end %>
          <%= cart_item.item.name %>
        </td>
        <td><%= cart_item.item.with_tax_price %>円</td>
        <td>
          <%= form_with model: @cart_item, url: public_cart_item_path(cart_item.id), method: :patch do |f| %>
          <%= cart_item.amount %> 個
          　<%= f.select :amount, *[1..10]  %>
          　<%= f.submit "更新", class:"btn btn-sm  btn-success" %>
          <% end %>
        </td>
        <td><%= cart_item.subtotal %>円</td>
        <td><%= link_to "削除", public_cart_item_path(cart_item.id), method: :delete, "data-confirm" => "カートから削除しますか？", class: "btn btn-danger" %></td>
        <% @sum += cart_item.subtotal %>
      </tr>
    <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td>
          <%= link_to '/', class:"btn btn-primary" do %>
            <%= "買い物を続ける" %>
          <% end %>
        </td>
        <td></td>
        <td>合計金額</td>
        <td><%= @sum %>円</td>
        <td>
          <%= link_to new_order_path, class:"btn btn-success" do %>
           <%= "情報入力に進む" %>
          <% end %>
        </td>
      </tr>
    </tfoot>
  </table>

