<h4>注文情報確認画面</h4>
 <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th></th>
        <th colspan="5"></th>
      </tr>
    </thead>
    <tbody>
    <% @sum = 0 %>
    <% @cart_items.each do |cart_item| %>
      <tr>
        <td>
          <% if cart_item.item.image.attached? %>
           <%= image_tag cart_item.item.image,size: "200x200" %>
          <% else %>
           <%= image_tag 'no_image', size: "200x200" %>
          <% end %>
          <%= cart_item.item.name %>
        </td>
        <td><%= cart_item.item.with_tax_price %>円</td>
        <td><%= cart_item.amount %> 個</td>
        <td><%= cart_item.subtotal %>円</td>
        <td></td>
        <% @sum += cart_item.subtotal %>
      </tr>
    </tbody>
    <% end %>