<p id="notice"></p>
<div class="container">
 <div class="row">
  <div class ="mx-auto">
    <%= flash[:notice] %>

    <h2>会員ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :"メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :"パスワード" %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <br>

      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>
    <% end %>
    <br>
    <%= link_to new_customer_registration_path, class: "btn btn-success" do %>
     <%= "新規会員登録へ" %>
    <% end %>
  </div>
 </div>
</div>