<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class ="shadow-sm">
      <nav class="navbar navbar-expand-lg nacbar-dark bg-dart" >
        <div class="container">
          <a class="navbar-brand" href="/" >
            <span>ながのCAKE</span>
          </a>
          <div class="navbar-collapse collapse show" id="navbarNavDropdown" style >
            <ul class="navbar-nav ml-auto" >
              <%#customerログイン時 %>
              <% if customer_signed_in? %>
              <li>
                <%= link_to "マイページ", '/customers/mypage' %>
              </li>
              <%= "　" %>
              <li>
                <%= link_to "商品一覧", '/items' %>
              </li>
              <%= "　" %>
              <li>
                <%= link_to "マイカート", '/cart_items' %>
              </li>
              <%= "　" %>
               <li>
                 <%= link_to "ログアウト",destroy_customer_session_path, method: :delete %>
               </li>
               <%# adminログイン時 %>
               <% elsif admin_signed_in? %>
               <li>
                 <%= link_to "注文一覧", '/admin' %>
               </li>
               <%= "　" %>
               <li>
                 <%= link_to "会員一覧", '/admin/customers' %>
               </li>
               <%= "　" %>
               <li>
                 <%= link_to "商品一覧", '/admin/items' %>
               </li>
               <%= "　" %>
               <li>
                 <%= link_to "ジャンル一覧", '/admin/genres' %>
               </li>
               <%= "　" %>
               <li>
                 <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
               </li>
               <%# customer,adminどちらもログインしていない時 %>
               <% else %>
                <li>
                 <%= link_to "新規会員登録", new_customer_registration_path %>
                </li>
                <%= "　" %>
                <li>
                  <%= link_to "ログイン", new_customer_session_path %>
                </li>
                <%= "　" %>
                <li>
                  <%= link_to "管理者モード", new_admin_session_path %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
    <% if notice %>
     <p><%= notice %></p>
    <% end %>
    <%= yield %>
    <footer>
     <div class="container mt-5">
      <div class="row">
       <div class="mx-auto">
        <p>Nagano Cake</p>
       </div>
      </div>
     </div>
    </footer>
  </body>
</html>
